*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --menu-pr-clr: #12101D;
    --menu-sc-clr: #F2F8F6;
    --calc-bg-clr: #111118;
    --calc-side-btn-clr: #f2f8f67c;

    --main-font: 'Roboto Condensed', sans-serif;
    --menu-font: 'Dosis',
        sans-serif;
}

html {
    font-size: 10px;
    height: 100%;
    font-family: var(--main-font);
}

body {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

/* === START FROM HERE === */

.hidden {
    display: none;
}


header {

    font-family: var(--menu-font);
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    min-height: 100%;
    width: 70%;
    transition: all 0.5s ease-out;
    margin-left: -70%;
    /* box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.447); */
    /* border-radius: 0 10px 10px 0; */

}

.sidebar {
    background: var(--menu-pr-clr);
    color: var(--menu-sc-clr);
    min-height: 100%;
    position: relativel;
    /* border-radius: 0 10px 10px 0; */

}

.logo {
    margin: 3rem 1rem 1rem 1rem;
    font-size: 3.8rem;
    text-align: center;
}

.sidebar__close {
    position: absolute;
    right: 1rem;
    top: -1rem;
    font-size: 4rem;
}

.sidebar__tabs {
    margin-block: 2rem;
    padding: 0 1rem 0 0;
    display: grid;
    gap: 1rem;
}

.sidebar__button-group {
    font-family: var(--menu-font);
    /* font-weight: 300; */
    font-size: 1.7rem;
    background: none;
    border: none;
    color: var(--menu-sc-clr);
    padding: 1rem 2rem;
    border-radius: 0 20px 20px 0;
}

.button__text {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1.5rem;
}

.sidebar__button-group--active {
    background-color: var(--menu-sc-clr);
    color: var(--menu-pr-clr);
}

.copyright {
    text-align: center;
    font-weight: 100;
    opacity: 0.6;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    /* width: 100%; */
}

main {
    min-width: 0;
    width: 100%;

}

.button--menu {
    /* display: none; */
    position: absolute;
    top: 5px;
    left: 10px;
    /* padding: 0.5rem; */
    /* background-color: var(--menu-pr-clr); */
    /* color: var(--menu-sc-clr); */
    background: none;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 3rem;
    font-weight: 100;
}

.calc--main {
    min-height: 100%;
    display: grid;
    align-items: end;
    width: 100%;
    position: relative;
}

.calculator {
    width: 100%;
    min-height: 85%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    background-color: var(--calc-bg-clr);
    color: var(--menu-sc-clr);
    position: relative;
    z-index: 1;
}

.calculator__display {
    background-color: white;
    grid-column: 1/5;
    grid-row: 1/3;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.calculator__history {
    display: block;
    flex: 1;
    width: 100%;
    color: var(--calc-bg-clr);
    opacity: 0.5;
    padding: 1rem;
    font-size: 1.9rem;
}

.calculator__input {
    color: #111118;
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: var(--main-font);
    text-align: right;
    font-size: 3.7rem;
    letter-spacing: 1px;
    font-weight: 500;
    width: 100%;
    padding: 0 1rem;
    flex: 2;
    border: none;
    outline: none;
}

.calculator__button {
    display: grid;
    place-items: center;
    font-family: var(--main-font);
    font-weight: 100;
    border: none;
    font-size: 2.2rem;
    padding: 1rem;
    color: var(--menu-sc-clr);
    background: none;
    position: relative;
}

.calculator__button::before {
    content: '';
    background-color: gray;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    /* display: none; */
    opacity: 0;
    transition: all 0.1s;
}

.calculator__button:active::before {

    opacity: 0.15;
}

.calculator__button--side {
    color: var(--calc-side-btn-clr);
}

/* .button--menu {
    position: absolute;
    top: 0.3rem;
    left: 0.3rem;
} */


/* all of this is for the desktop version

main {
    min-width: 0;
    flex: 1;
}

header {

    flex: 3;
    max-width: 20%;
    margin-left: -20%;

}

*/